body{
    margin: 0;
}
.jhalar{
  width: 250px;
  margin-bottom: -36px;
}

.hero-section{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F99501;
    background-image: url(./images/orange-backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.hero-section p{

    font-size: 46px;
    font-weight: 400px;
    font-family: "salsa" , cursive;
    max-width: 600px;
    
}
.panda{
    margin-left: 15rem;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #FBD8A4;
     
     }
     .audio-container{
        background-color: #FBD8A4;
        max-width: 500px;
        max-height: 61px;
        border-radius: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        font-family: "salsa" , cursive;
     }

  
  @media (max-width: 839px){
    .jhalar{
  width: 180px;
  height: 180px;
  margin-bottom: -36px;
  
}
.panda{
    margin-left: 10px;
}
.panda p{
    font-size: 20px;
}
.audio-container span {
    display: none;

} 
 
.audio-container{
     width: 284px;
    height: 60.36px;
    padding-left: -10;
     }
    .first-deepak{
max-width: 226px;
max-height: 226px;

        display: block;
        margin-left: auto;

    }
    .second-deepak{
        display: none;
    }
}