.card {
    width: 250px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    transition: all 500ms ease-out;
    cursor: pointer;
}

.card img {
    width: 100%;
    max-height: 150px;
}

.card h3, .card p {
    margin: 6px 0;
}

.card-content {
    padding: 0 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    
}

.card:hover{
    background-color: rgba(168, 229, 168, 0.432);
    transition: all 500ms ease-in;
}