

body{


    margin: 0;
    width:600px;
}

section{
    background-color: blueviolet;
    padding: 10vw;
    width: 50vw;
    margin: 10vw;
    border: 1vw solid green;
/* font inherent it size from it parent em is related to it parent*/
    font-size: 2em;

    /* box-sizing: border-box; */
 
}
/* try not to give width or hight in px becaue this can cause scroll bar in view port
you can give max-width or max-height*/
.box{

background-color:chartreuse;
  
 padding: 24px;
 /* in this case,it will see if the font size in its own class and multiply
 with it. if its own class has font size 2em and
 it parent has 2em font size then font size would be 64px in it class
 then it will multiplay with with 64px . 
  same rules apply height width padding and margin.
  it will look for parent for font size but rest will be calculated from inside*/
 width: 10em;

 /* 1em is 16px so in this case it parent(section has font size 2em
 that mean 32px so box class has 2em (32px)too so it multiplay
 and end result of box class font size would be 64px  */
 font-size: 2em;
/* box-sizing: border-box; */

}





