
.container {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

img {
    width: 100px;
}

.img-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.img-container p{
   margin: 0;
   transform: translate(-21px,40%);
   /* transform: translateY(40%);
   transform: translateX(-25px); */
}