body{
    box-sizing: border-box;
}

.checkbox {
 
    accent-color: #5128C6;
    position: absolute;
    
}
.checkbox-container label{
    border: 1px solid #C2C2C2;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    position: relative;
    background-color: white;
}
.checkbox:checked + label{
    background-color: #5128C6;
}

.checkbox-container label:hover{
    border: 1px solid #4917D8;
}

.checkbox:focus + label, label:active{
    border-color:#4917D8 ;
    outline:2px solid #B09AF1;
  
}