*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    margin-inline: 4rem;
    display: grid;
    gap: 24px;
    max-width: 1200px;
    grid-template-areas: 
    'purple'
    'orange'
    'blue'
    'green'
    'hotpink';
    

}


h1{
    text-align: center;
    text-shadow:7px 4px 7px rgba(0,0,0,0.25);
    font-weight: 400px;
}

.box{
    min-height: 200px;
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
   
}


.box1{
    background-color:#BA56F6 ;
    grid-area: purple;
}
.box2{
    background-color: #FF6161;
    grid-area: orange;

}
.box3{
    background-color: #505CCA;
    grid-area: blue;
}
.box4{
    background-color:#3DAD99 ;
    grid-area: green;
}
.box5{
    background-color: #BE3690;
    grid-area: hotpink;
}


@media (min-width:720px) {
    .box{
        min-height: 300px;
    }
    .container{
        grid-template-areas: 
        'purple purple'
        'orange blue'
        'green blue'
        'hotpink hotpink'
        ;
         padding-bottom: 4rem;
    }
    /* .box1{
        grid-area: purple;
    }
    .box2{
        grid-area: orange;
    }
    .box3{
        grid-area:blue ;
    }
    .box4{
        grid-area:green;
    }
    .box5{
        grid-area: hotpink;
        padding-bottom: 4rem;
    } */
    /* .container{
        grid-template-columns: 1fr 1fr;
        padding-bottom: 4rem;
    }
    
    .box1{
        grid-column-start: span 2;
       
    }
    .box3{
        grid-row-start: span 2;
        
    }
    .box5{
        grid-column-start: span 2;
        padding-bottom: 4rem;
    } */
}

@media (min-width:1000px) {
    .container{

        grid-template-areas: 
        'purple purple orange blue'
        'green hotpink hotpink blue'
        
        ;
        /* grid-template-columns: repeat(4,1fr); */
        min-width: 300px;
}
}