*{
    box-sizing: border-box;
}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size:13px ;
    margin: 0;
    border-radius: 10px;
}
img{
    border-radius: 100%;
    max-width: 2rem;
    
    float: left;
    margin-top: 10px
    
    
 
}
h1{
    font-family: "Barlow Semi Condensed", sans-serif;
    
    font-weight: 500;
    font-size: 22px;
    }
.daniel{
    background-color:#733FC8;
    color: white;
    border-radius: 8px;
    grid-column-start: span 2;
    
    

}

.jonathan{
    background-color: #49556B;
    color: white;
     border-radius: 8px;
    
}
.jeanette{
    border-radius: 8px;
    grid-column-start: 1;
    grid-row-start: 2;

  
}
.patric{
    background-color: #191F2D;
    color:#B4B8BE ;
    border-radius: 8px;
    grid-column-start: span 2;
    
}
.kira{
      background-color: white;
    color: #49556B;
    border-radius: 8px;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-column-end: 5;
    grid-row-end:3;
    max-height: 600px;
    
   
}

.container{
    margin-inline: 2rem;
    margin-block: 2rem;
   
    padding-inline: 10px;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
   
    max-width: 1175px;
  
    
    
}
.box{
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    padding-inline: 30px;
    padding-bottom: 15px;
    max-height: 500px;
    overflow: hidden;
    
    
}
.name-veri{
    margin-top: 10px;
    margin-left: 42px;

}
@media  (max-width: 375px) {
    .container{
       
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    
    /* gap: 15px; */
    
        
    }
    .box{
        
        min-width: 300px;
        max-width: 300px;
          display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-right: 10px;
    gap: 15px;
  
        
    }
   .jonathan{
    grid-column-start: 1;
    grid-row-start: 2;
   }
   .jeanette{
   grid-column-start: 1;
    grid-row-start: 3;
   }
   .patric{
    grid-column-start: 1;
    grid-row-start: 4;
   }
.kira{
    grid-column-start: 1;
    grid-row-start: 5;
}
.attribution{
    display: flex;
    position: absolute;
    margin-top: -600px;
    margin-left: 69px;
}
    }

    
